<div class="container">
  	<div class="row text-center">
        <h1>Olá</h1>

        <%= link_to search_initial_index_path, method: :get, remote: true, class:'btn waves-effect waves-light', name:'action' do %> Get meal
          <i class="material-icons right">local_dining</i>
        <% end %>
      </div>

  <div class="resultado meal"></div>
</div>
