@import "materialize";
@import "material_icons";

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.meal{
	margin: 20px 0;
}

.igredients {
	float: right;
}

// .dadosIniciais {
// 	float: left;
// }

li {
	margin-bottom: 0;
}
